@using MovieApp.EntityLayer.Entities
@model List<Movie>

<style>
    .bold-italic {
        font-style: italic;
    }
</style>

<div class="justReviewed">
    <div class="title">
        <h4>Son çıkan filmler</h4>
    </div>
   @* <h4 class="title-footer">En sevdiğiniz filmleri şimdi inceleyebilirsiniz..</h4>*@
    <br />
    <div class="movies">
        @foreach (var item in Model)
        {
            <div class="movie">
                <a href="/Movie/Detail/@item.Slug"><img src="~/images/movie/@item.Poster" alt="" /></a>
                <div class="card-content">
                    <h4>@item.MovieTitle</h4>
                    @if (item.Categories != null && item.Categories.Any())
                    {
                        <p class="bold-italic">
                            Kategori:
                            <br />
                            @for (var i = 0; i < item.Categories.Count; i++)
                            {
                                @item.Categories[i].CategoryName
                                @if (i < item.Categories.Count - 1)
                                {
                                    <span>|</span>
                                }
                            }
                        </p>
                    }
                </div>
            </div>
        }
        
    </div>
</div>