@using MovieApp.EntityLayer.Entities
@model List<Movie>

<div class="onerilenFilmler">
   
    @foreach (var item in Model)
    {
        <div class="cards">
            <img src="~/images/movie/@item.Poster" alt="" />
        </div>
    }
    
</div>