@using MovieApp.EntityLayer.Entities
@model List<Movie>

<div class="onerilenFilmler">
   
    @foreach (var item in Model)
    {
        <div class="cards">
            <a href="/Movie/Detail/@item.ID"><img src="~/images/movie/@item.Poster" alt="" /></a>
        </div>
    }
    
</div>