@model List<Movie>

<div class="onerilenFilmler">
    @foreach (var item in Model)
    {
        <div class="cards">
            <a href="/Movie/Detail/@item.Slug">
                <img src="~/images/movie/@item.Poster" alt="" />
            </a>
            <div class="card-cont">
                <h4 class="film-category">
                    @if (item.Directors != null && item.Directors.Any())
                    {
                        @foreach (var director in item.Directors)
                        {
                            <a class="mostLikedFilmTitle" href="/Movie/MoviesByDirectors/@director.Slug"> @item.Directors.FirstOrDefault()?.DirectorName</a>
                        }
                    }
                    else
                    {
                        <span>No director available</span>
                    }


                </h4>
                <a href="/Movie/Detail/@item.Slug">
                  
                    @item.MovieTitle
                </a>
              @*  <p>@item.Description.Substring(0,20)</p>*@
            </div>
        </div>
    }
</div>