@model List<Comment>

<div class="popularReviews">
    <div class="title">
        <h4>Yorumlar</h4>
    </div>
    <div class="reviews">

     @*   <form method="post">
        <div class="review-input">
            <input type="text" placeholder="Yorumunuz" />
                <button>Yorum ekle</button>
        </div>
        </form>*@
     

        @foreach (var item in Model)
        {
            <div class="review">
                <div class="image2">
                    <img src="~/main/assets/img/png/commentUser.png" alt="" />
                </div>
                <div class="write">
                    <h2>@item.CommentUserName</h2>
                    <br />
                    <small>@(((DateTime)item.CommentDate).ToString("dd-MMM-yyyy HH:mm:ss"))
                    </small>
                    <p>
                       @item.CommentContent
                    </p>
                </div>
            </div>
        }


    </div>
</div>