<div class="popularReviews">
    <div class="title">
        <h4>Yorumlar</h4>
    </div>
    <div class="reviews">
        <div class="review-input">
            <input type="text" placeholder="Yorum ekle" />
        </div>
        <div class="review">
            <div class="image2">
                <img src="~/main/assets/img/png/harrypotter.jpg" alt="" />
            </div>
            <div class="write">
                <h2>Name Surname</h2>
                <br />
                <small>DateTime</small>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image2">
                <img src="~/main/assets/img/png/harrypotter.jpg" alt="" />
            </div>
            <div class="write">
                <h2>Name Surname</h2>
                <br />
                <small>DateTime</small>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image2"><img src="~/main/assets/img/png/harrypotter.jpg" alt="" /></div>
            <div class="write">
                <h2>Name Surname</h2>
                <br />
                <small>DateTime</small>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image2"><img src="~/main/assets/img/png/harrypotter.jpg" alt="" /></div>
            <div class="write">
                <h2>Name Surname</h2>
                <br />
                <small>DateTime</small>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
    </div>
</div>