@using MovieApp.EntityLayer.Entities
@model UserProfileModel

@{
    ViewData["Title"] = Model.NameSurname;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div class="BlogDetailBanner">
    <div class="profilePicture">
        <img src=""
             alt="Profil Fotoğrafı"
             class="profilIcon" />
        <div class="userInfo">
            <h5 class="nameAndSurname">@Model.NameSurname</h5>
            <h6 class="userRole">@Model.UserRole</h6>
            <p id="modal1" class="userList">İzleme Listem &nbsp;<i class="fa-solid fa-list"></i></p>
            <p id="modal2" class="userList">İzlediklerim &nbsp;<i class="fa-solid fa-check"></i></p>
        </div>
    </div>
    <!-- Trigger/Open The Modal -->
    <!-- The Modal -->

    @await Component.InvokeAsync("WatchList", new { Id = Model.UserID})
    @await Component.InvokeAsync("WatchList", new { Id = Model.UserID})

</div>
<div class="content">
    <h1>Hakkımda</h1>
    <p>@Model.About</p>
</div>
<div class="title">
    <h1>Yorumlarım</h1>
</div>

@await Component.InvokeAsync("ProfileLastComments", new { Id = Model.UserID })