@model MovieApp.Panel.UI.Models.UserProfileEditModel

@{
    ViewData["Title"] = "Profil Düzenle";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@if (User.Identity.IsAuthenticated)
{
    <form method="post" enctype="multipart/form-data">
        <div asp-validation-summary="ModelOnly" style="background-color:white;color:red;"></div>
        <div class="contact-form">
            <div class="left-form">

                <h4>Ad-Soyad</h4>
                <input class="contact-input" type="text" id="NameSurname" name="NameSurname" value="@Model.NameSurname">

                <h4>Hakkımda</h4>
                <textarea class="contact-textarea" id="About" name="About" cols="21" rows="6">@Model.About</textarea>


                <h4>Email</h4>
                <input class="contact-input" type="email" id="EMail" name="EMail" @*value="@Model.EMail"*@>


                <h4>Eski Şifre</h4>
                <input class="contact-input" type="password" id="OldPassword" name="OldPassword">

                <h4>Yeni Şifre</h4>
                <input class="contact-input" type="password" id="NewPassword" name="NewPassword">
            </div>

            <div class="divider"></div>

            <div class="right-form">
                <h4>Kapak Fotoğrafı</h4>
                <input onchange="document.getElementById('showImage').src = window.URL.createObjectURL(this.files[0])" class="contact-input" type="file" accept="image/png, image/gif, image/jpeg" multipe="false" id="ImageUrl" name="ImageFile">

                @if (!string.IsNullOrEmpty(Model.ImageUrl))
                {
                    <div>
                        <img class="form-image" id="showImage" src="~/images/profile/@Model.ImageUrl" alt="" style="max-width: 200px; margin-top: 10px;" />
                    </div>
                }

                <h4>Profil Fotoğrafı</h4>
                <input class="contact-input" type="file" accept="image/png, image/gif, image/jpeg" onchange="document.getElementById('showImage2').src = window.URL.createObjectURL(this.files[0])" multipe="false" id="ProfileImageUrl" name="ProfileImageFile">
                @if (!string.IsNullOrEmpty(Model.ProfilePictureUrl))
                {
                    <div>
                        <img class="form-image" id="showImage2" src="~/images/profile/@Model.ProfilePictureUrl" alt="" style="max-width: 200px; margin-top: 10px;" />
                    </div>
                }

                @{
                    var errors = ViewData.ModelState.Values.SelectMany(v => v.Errors);
                }

                @if (errors.Any())
                {
                    <div class="alert alert-danger">
                        @foreach (var error in errors)
                        {
                            <span class="text-danger">@error.ErrorMessage</span>
                            <br />
                        }
                    </div>
                }

                <button class="upd-btn" type="submit">Güncelle</button>


            </div>
        </div>
    </form>
}

else
{
    <p>Giriş yapmadan profil düzenleyemezsiniz.</p>
}

