@{
    ViewData["Title"] = "Yetki Reddedildi.";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


<div style=" display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;">
<h1 style="font-size: 30px;
    text-align: center;
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;">
    Bu sayfaya giriş için yetkiniz bulunmamaktadır. :(
</h1>
</div>
