@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2 style="color:white">Forgot Password</h2>

@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group" style="color:white">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
    </div>

    <button type="submit" class="btn btn-primary" href="/Account/ResetPassword/">Send Password Reset Link</button>
}
