@model ForgotPasswordViewModel

@{
    ViewData["Title"] = "Forgot Password";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}


@using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    @*    <div class="form-group" style="color:white">
        @Html.LabelFor(m => m.Email)
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
    </div>*@


    <div class="forgotContent">
        <h4>Şifremi Unuttum</h4>
        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
        <button type="submit" class="mailActive" href="/Account/ResetPassword/">Gönder</button>
    </div>





    var errorMessage = ViewData.ModelState[string.Empty]?.Errors.FirstOrDefault()?.ErrorMessage;


    if (!string.IsNullOrEmpty(errorMessage))
    {
        <div style="color:red;background-color:white;">
            @errorMessage
        </div>
    }

}
