@model MovieDetailModel

<form id="addCommentForm" method="post" asp-action="AddComment" asp-controller="Comment">
    <div class="review-input">
        <input name="MovieId" type="hidden" value="@Model.MovieId" />
        <input name="CommentContent" type="text" placeholder="Yorumunuz" />
        <button id="addCommentButton" class="addComment" type="submit">Yorum ekle</button>
    </div>
</form>


<script src="https://code.jquery.com/jquery-3.5.1.min.js" type="text/javascript"></script>

@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>*@
<script>
    $(document).ready(function () {
        
        $("#addCommentForm").submit(function (event) {
            event.preventDefault(); 

            var formData = $(this).serialize();

            $.ajax({
                url: $(this).attr("action"),
                type: $(this).attr("method"),
                data: formData,
                success: function (response) {

                    var newCommentHtml = $(response).find("#commentContainer").html();

                    
                    $("#commentComponentContainer").html(newCommentHtml);

                    
                    $("#addCommentForm")[0].reset();
                },
                error: function (xhr, status, error) {
                    
                    console.error(error);
                }
            });
        });
    });
</script>

