@model Movie

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@await Component.InvokeAsync("HomepageCover")



@await Component.InvokeAsync("LastMovies")


<!-- Önerilen Filmler Bitiş-->
<div class="justReviewed">
    <div class="title">
        <h4>Just Reviewed</h4>
    </div>
    <div class="movies">
        <img class="movie" src="~/main/assets/img/png/harrypotter.jpg" alt="" />
        <img class="movie" src="~/main/assets/img/png/johnwick.jpg" alt="" />
        <img class="movie" src="~/main/assets/img/png/moonlight.jpg" alt="" />
        <img class="movie" src="~/main/assets/img/png/walkalone.webp" alt="" />
        <img class="movie"
             src="~/main/assets/img/png/interstellarsmall.jpg"
             alt="" />
        <img class="movie" src="~/main/assets/img/png/terim.jpg" alt="" />
        <img class="movie" src="" alt="" />
        <img class="movie" src="" alt="" />
    </div>
</div>

<!--Popular Yorumlar Başlagıcı-->
@await Component.InvokeAsync("Last4Comment")


<!--Popular Yorumlar Bitişi-->

@await Component.InvokeAsync("LastBlogs")

