

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="hero">
    <h1>
        İzlediğiniz filmleri takip edin <br />
        Yorum yapın.. <br />
        Daha fazlasını keşfedin...
    </h1>
</div>
<div class="onerilenFilmler">
    <div class="cards">
        <img src="assets/img/png/moonlight.jpg" alt="" />
    </div>
    <div class="cards">
        <img src="assets/img/png/walkalone.webp" alt="" />
    </div>
    <div class="cards">
        <img src="assets/img/png/avengers.webp" alt="" />
    </div>
    <div class="cards">
        <img src="assets/img/png/harrypotter.jpg" alt="" />
    </div>
    <div class="cards">
        <img src="assets/img/png/johnwick.jpg" alt="" />
    </div>
</div>
<!-- Önerilen Filmler Bitiş-->
<div class="justReviewed">
    <div class="title">
        <h4>Just Reviewed</h4>
    </div>
    <div class="movies">
        <img class="movie" src="assets/img/png/harrypotter.jpg" alt="" />
        <img class="movie" src="assets/img/png/johnwick.jpg" alt="" />
        <img class="movie" src="assets/img/png/moonlight.jpg" alt="" />
        <img class="movie" src="assets/img/png/walkalone.webp" alt="" />
        <img class="movie"
             src="assets/img/png/interstellarsmall.jpg"
             alt="" />
        <img class="movie" src="assets/img/png/terim.jpg" alt="" />
        <img class="movie" src="" alt="" />
        <img class="movie" src="" alt="" />
    </div>
</div>
<!--Popular Yorumlar Başlagıcı-->
<div class="popularReviews">
    <div class="title">
        <h4>Popular Reviews</h4>
    </div>
    <div class="reviews">
        <div class="review">
            <div class="image">
                <img src="assets/img/png/interstellarsmall.jpg" alt="" />
            </div>
            <div class="write">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image">
                <img src="assets/img/png/harrypotter.jpg" alt="" />
            </div>
            <div class="write">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image"><img src="assets/img/" alt="" /></div>
            <div class="write">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image"><img src="" alt="" /></div>
            <div class="write">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
    </div>
    <div class="popularList"></div>
</div>
<!--Popular Yorumlar Bitişi-->
<div class="movieNews">
    <div class="col-1">
        <div class="new">
            <div class="newPhoto">
                <img src="assets/img/png/new.jpg" alt="" />
            </div>
            <div class="newContent">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Suscipit quasi qui quaerat error facilis sint repellendus quod
                    tenetur reprehenderit, nostrum illo natus a ad odio ex dicta
                    cumque sunt porro sapiente maxime debitis. Aperiam, aliquam
                    perspiciatis optio quas fugit expedita animi iusto commodi
                    assumenda nulla similique quis magnam mollitia sit ipsam aut
                    adipisci, magni eum reiciendis perferendis eos quisquam
                    accusantium? Neque possimus cum blanditiis optio ad obcaecati?
                    Fuga optio, omnis inventore sint ducimus aliquam veritatis
                    molestias, ad odit dolorum alias, voluptates quasi hic saepe
                    laudantium non. Iste alias id, quaerat incidunt nihil maiores
                    nobis perferendis at, assumenda dolores, ratione fugit.
                </p>
                <a href="#">Devamını Oku</a>
            </div>
        </div>
        <div class="new">
            <div class="newPhoto">
                <img src="assets/img/png/new.jpg" alt="" />
            </div>
            <div class="newContent">
                <h2>Title</h2>
                <p>
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit. Vel
                    alias debitis nisi tenetur minus ipsam animi nostrum possimus?
                    Temporibus ratione dignissimos quod eligendi sapiente ea
                    reiciendis assumenda, quasi eaque natus odio obcaecati porro
                    dolor quas velit error? Veritatis, minus nulla voluptas
                    voluptatem sequi neque impedit.
                </p>
                <a href="#">Devamını Oku</a>
            </div>
        </div>
    </div>
    <div class="col-2">
        <div class="new">
            <div class="newPhoto">
                <img src="assets/img/png/new.jpg" alt="" />
            </div>
            <div class="newContent">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Laboriosam quos explicabo voluptatum magnam corrupti, officiis
                    temporibus quia similique doloremque, rem modi doloribus neque
                    velit eaque quasi itaque laborum tempora harum?
                </p>
                <a href="#">Devamını Oku</a>
            </div>
        </div>
        <div class="new">
            <div class="newPhoto">
                <img src="assets/img/png/new.jpg" alt="" />
            </div>
            <div class="newContent">
                <h2>Title</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero
                    recusandae ratione porro laboriosam a consectetur voluptate, ut
                    doloribus omnis unde facere error eaque amet nihil vel! Ipsum
                    suscipit quo cum tenetur et assumenda rem fugiat officia
                    provident, quas dolor enim sapiente recusandae minus modi
                    veritatis, hic soluta consectetur doloremque vitae.
                </p>
                <a href="#">Devamını Oku</a>
            </div>
        </div>
    </div>
    <div class="col-3">
        <div class="new">
            <div class="newPhoto">
                <img src="assets/img/png/new.jpg" alt="" />
            </div>
            <div class="newContent">
                <h2>Title</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero
                    recusandae ratione porro laboriosam a consectetur voluptate, ut
                    doloribus omnis unde facere error eaque amet nihil vel! Ipsum
                    suscipit quo cum tenetur et assumenda rem fugiat officia
                    provident, quas dolor enim sapiente recusandae minus modi
                    veritatis, hic soluta consectetur doloremque vitae.
                </p>
                <a href="#">Devamını Oku</a>
            </div>
        </div>
        <div class="new">
            <div class="newPhoto">
                <img src="assets/img/png/new.jpg" alt="" />
            </div>
            <div class="newContent">
                <h2>Title</h2>
                <p>
                    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Vero
                    recusandae ratione porro laboriosam a consectetur voluptate, ut
                    doloribus omnis unde facere error eaque amet nihil vel! Ipsum
                    suscipit quo cum tenetur et assumenda rem fugiat officia
                    provident, quas dolor enim sapiente recusandae minus modi
                    veritatis, hic soluta consectetur doloremque vitae.
                </p>
                <a href="#">Devamını Oku</a>
            </div>
        </div>
    </div>
</div>
