

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@await Component.InvokeAsync("HomepageCover")



@await Component.InvokeAsync("LastMovies")


<!-- Önerilen Filmler Bitiş-->
<div class="justReviewed">
    <div class="title">
        <h4>Just Reviewed</h4>
    </div>
    <div class="movies">
        <img class="movie" src="~/main/assets/img/png/harrypotter.jpg" alt="" />
        <img class="movie" src="~/main/assets/img/png/johnwick.jpg" alt="" />
        <img class="movie" src="~/main/assets/img/png/moonlight.jpg" alt="" />
        <img class="movie" src="~/main/assets/img/png/walkalone.webp" alt="" />
        <img class="movie"
             src="~/main/assets/img/png/interstellarsmall.jpg"
             alt="" />
        <img class="movie" src="~/main/assets/img/png/terim.jpg" alt="" />
        <img class="movie" src="" alt="" />
        <img class="movie" src="" alt="" />
    </div>
</div>
<!--Popular Yorumlar Başlagıcı-->
<div class="popularReviews">
    <div class="title">
        <h4>Popular Reviews</h4>
    </div>
    <div class="reviews">
        <div class="review">
            <div class="image">
                <img src="assets/img/png/interstellarsmall.jpg" alt="" />
            </div>
            <div class="write">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image">
                <img src="assets/img/png/harrypotter.jpg" alt="" />
            </div>
            <div class="write">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image"><img src="assets/img/" alt="" /></div>
            <div class="write">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image"><img src="" alt="" /></div>
            <div class="write">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
    </div>
    <div class="popularList">
        <div class="review">
            <div class="image">
                <img src="assets/img/png/terim.jpg" alt="" />
            </div>
            <div class="write">
                <h2>Title</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
    </div>
</div>
<!--Popular Yorumlar Bitişi-->

@await Component.InvokeAsync("LastBlogs")

