@model MovieDetailModel

@{
    ViewData["Title"] = "Movie";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="detailBanner " style="background-image: linear-gradient( 33deg, #1a1a1a 24.97%, #1a1a1a 38.3%, rgba(26, 26, 26, 0.0409746) 97.47%, #1a1a1a 100% ), url(.../images/movie/@Model.MovieDetailPoster);
     background-repeat: no-repeat;
     width: 1066px;
     height: 600px;
     background-position: top;
     margin: 0 auto;
     margin-bottom: 80px;">
    @*BURADA POSTERİ GETİREMİYORUM ^^^^*@

    <div class="movieDetail">
        <div>
            <img src="~/images/movie/@Model.MoviePoster"
                 class="avengersPoster"
                 alt="MoonLight Poster" />
        </div>
        <div class="movieTitleDetails">
            <h1>@Model.MovieTitle</h1>
            <p>
                @Model.MovieDescription</p>
            <br />
            <div class="director">
                Yönetmen: @foreach (var directorName in Model.DirectorNames)
                {
                    <span>@directorName</span>
                }
            </div>
            <div class="director">
                Oyuncu : @foreach (var actorName in Model.ActorNames)
                {
                    <span>@actorName |</span>
                }
            </div>
            <div class="director">
                Çıkış Tarihi: @(((DateTime)
                Model.ReleaseDate).ToString("dd-MMM-yyyy"))
            </div>
            <div class="star-wrapper">
                <a href="#" class="fas fa-star s1"></a>
                <a href="#" class="fas fa-star s2"></a>
                <a href="#" class="fas fa-star s3"></a>
                <a href="#" class="fas fa-star s4"></a>
                <a href="#" class="fas fa-star s5"></a>
            </div>
            <script src="https://kit.fontawesome.com/5ea815c1d0.js"></script>
            <div class="wraper"></div>
            <a href="#" class="addMyWatch">
                <img src="~/main/assets/img/png/addIcon.png" alt="" class="addIcon" />
                <span class="text">İzleyeceklerime Ekle</span>
            </a>
            <a href="#" class="addToWatch">
                <img src="~/main/assets/img/png/favIcon.png"
                     alt=""
                     class="addIcon" /><span class="text">İzlenenlere Ekle</span>
            </a>
        </div>
    </div>
</div>
<br />
<br />
<br />
<div class="popularReviews">
    <div class="title">
        <h4>Yorumlar</h4>
    </div>
    <div class="reviews">
        <div class="review-input">
            <input type="text" placeholder="Yorum ekle" />
        </div>
        <div class="review">
            <div class="image2">
                <img src="~/main/assets/img/user.png" alt="" />
            </div>
            <div class="write">
                <h2>Name Surname</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image2">
                <img src="~/main/assets/img/png/harrypotter.jpg" alt="" />
            </div>
            <div class="write">
                <h2>Name Surname</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image2"><img src="~/main/assets/img/png/harrypotter.jpg" alt="" /></div>
            <div class="write">
                <h2>Name Surname</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
        <div class="review">
            <div class="image2"><img src="~/main/assets/img/png/harrypotter.jpg" alt="" /></div>
            <div class="write">
                <h2>Name Surname</h2>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam
                    harum dignissimos, voluptatem architecto inventore ipsum
                    cupiditate totam iusto dolores quos dolorum illo rem
                    necessitatibus sunt.
                </p>
            </div>
        </div>
    </div>
</div>