@model MovieApp.EntityLayer.Entities.Movie

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="card-body">
    <h4 class="card-title">Film Ekle</h4>
    <p class="card-description"> Film bilgilerini eksiksiz giriniz </p>
    <form class="forms-sample">
        <div class="form-group">
            <label for="exampleInputName1">Film Adı</label>
            <input type="text" class="form-control" id="exampleInputName1" placeholder="Name">
        </div>

        <div class="form-group">
            <label asp-for="ReleaseDate" class="control-label"></label>
            <input asp-for="ReleaseDate" class="form-control" />
            <span asp-validation-for="ReleaseDate" class="text-danger"></span>
        </div>


        <div class="form-group">
            <label for="exampleSelectGender">Oyuncu</label>
            <select class="form-control" id="exampleSelectGender">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleSelectGender">Yönetmen</label>
            <select class="form-control" id="exampleSelectGender">
                <option>Male</option>
                <option>Female</option>
            </select>
        </div>

        <div class="form-group">
            <label>Ana Fotoğraf</label>
            <input type="file" name="img[]" class="file-upload-default">
            <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                <span class="input-group-append">
                    <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label>Detay Fotoğraf</label>
            <input type="file" name="img[]" class="file-upload-default">
            <div class="input-group col-xs-12">
                <input type="text" class="form-control file-upload-info" disabled placeholder="Upload Image">
                <span class="input-group-append">
                    <button class="file-upload-browse btn btn-gradient-primary" type="button">Upload</button>
                </span>
            </div>
        </div>

        <div class="form-group">
            <label for="exampleTextarea1">Film Açıklaması</label>
            <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-gradient-primary mr-2">Oluştur</button>
        <button class="btn btn-light">Geri Dön</button>




    </form>
</div>