@model Actor

@{
    ViewData["Title"] = Model.ActorName;
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

@*<div class="moviesByActorTitle">
    <h2 style="color:white">@Model.ActorName İsimli Oyuncunun Filmleri</h2>
</div>

<br />
<br />

@if (Model.Movies.Any())
{
    <div class="onerilenFilmler">
        @foreach (var movie in Model.Movies)
        {
            <div class="cardsList">
                <a href="/Movie/Detail/@movie.Slug"><img src="~/images/movie/@movie.Poster" alt="" /></a>
            </div>
        }
    </div>
}
else
{
    <p>Uygun film bulunamadı.</p>
}*@

<div class="justReviewed">
    <div class="title">
        <h3>@Model.ActorName İsimli Oyuncunun Filmleri</h3>
    </div>
    <br />
    <div class="movies">
        @if (Model.Movies.Any())
        {
            @foreach (var item in Model.Movies)
            {
                <div class="movie">
                    <a href="/Movie/Detail/@item.Slug"><img src="~/images/movie/@item.Poster" alt="" /></a>
                    <div class="card-content">
                        <h4>@item.MovieTitle</h4>
                        <p>@item.Description.Substring(0,50)</p>
                    </div>
                </div>
            }
        }
        else
        {
            <div class="title">
                <h4>Uygun film blunamadı</h4>
            </div>
        }
    </div>
</div>
