@using MovieApp.EntityLayer.Entities
@model AppUser


<div class="menu-wrap">

    @if (User.IsInRole("Member"))
    {
        <ul class="menu">
            <li class="menu-item">
                <a href="#">
                    @Model.UserName
                </a>

                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a target="_blank" href="http://emirhankadiroglu.me/">Profile</a>
                    </li>
                    <li class="drop-menu-item">
                        <a target="_blank" href="https://github.com/huseyincengizz">Settings</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Help</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="/Account/Logout">Sign Out</a>
                    </li>
                </ul>

            </li>
        </ul>

        <ul class="menu">
            <li class="menu-item">
                <a href="#">
                    <img class="icon"
                         src="~/main/assets/img/github-mark-white.png"
                         alt="" />
                </a>
                <ul class="drop-menu">
                    <li class="drop-menu-item">
                        <a target="_blank" href="https://github.com/thekadiroglu">emirhan</a>
                    </li>
                    <li class="drop-menu-item">
                        <a target="_blank" href="https://github.com/huseyincengizz">Hüseyin</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Barış</a>
                    </li>
                    <li class="drop-menu-item">
                        <a href="#">Işılay</a>
                    </li>
                </ul>
            </li>
        </ul>
    }


</div>