<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/main/assets/img/anaLogo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="~/main/assets/CSS/reset.css" />
    <link rel="stylesheet" href="~/main/assets/CSS/main.css" />
    <script src="~/main/assets/JS/main.js" defer></script>

    <title>Film Project</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navbar">
                <div class="logo">
                    <img class="logo" src="~/main/assets/img/filmatlasi (2) (1).png" alt="" />
                </div>
                <div class="nav">
                    <ul class="left">
                        <a href="/Main/Index"><li>Anasayfa</li></a>
                        <li>Filmler</li>
                        <li>Listeler</li>
                    </ul>
                    <input class="filter" type="text" placeholder="Ara" />
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <ul>

                            <li>
                                <a href="/Account/Login/">Giriş Yap</a>
                            </li>
                            <li>
                                <a href="/RegisterUser/Index/">Üye Ol</a>
                            </li>

                        </ul>
                    }

                </div>

                @await Component.InvokeAsync("HomePageUsername")

                <ul class="menu">
                    <li class="menu-item">
                        <a href="#">
                            <img class="icon"
                                 src="~/main/assets/img/github-mark-white.png"
                                 alt="" />
                        </a>
                        <ul class="drop-menu">
                            <li class="drop-menu-item">
                                <a target="_blank" href="https://github.com/isilaycakar">Işılay [Backend]</a>
                            </li>
                            <li class="drop-menu-item">
                                <a target="_blank" href="https://github.com/barisggun">Barış [Backend] </a>
                            </li>
                            <li class="drop-menu-item">
                                <a target="_blank" href="https://github.com/huseyincengizz">Hüseyin [Frontend] </a>
                            </li>
                            <li class="drop-menu-item">
                                <a target="_blank" href="https://github.com/thekadiroglu">Emirhan [Frontend] </a>
                            </li>
                        </ul>
                    </li>
                </ul>


            </div>
            <ul>
                <li class="hamburger-icon">
                    <i class="fa-solid fa-bars"></i>
                </li>
            </ul>
        </div>
        <!-- Header Finish-->
        @RenderBody()


    </div>
    <!-- Footer Başlangıç-->
    <div class="footer">

        <div class="links">
            <ul>
                TEMEL
                <li>Film Atlası Hakkında Bilgi Alın</li>
                <li>Bize Ulaşın</li>
                <li>Destek</li>
                <li></li>
            </ul>
            <ul>
                KATKIDA BULUNANLAR
                <li>emirhan</li>
                <li>Hüseyin Cengiz</li>
                <li>Barış Gün</li>
                <li>Işılay Çakar</li>
            </ul>
            <ul>
                SOSYAL MEDYA
                <li><i class="fa-brands fa-instagram"></i></li>
                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>
            </ul>
        </div>
    </div>
    <!--Footer Bitiş-->
</body>
</html>
