<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/main/assets/img/anaLogo.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
          integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
          crossorigin="anonymous"
          referrerpolicy="no-referrer" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <link rel="stylesheet" href="~/main/assets/CSS/reset.css" />
    <link rel="stylesheet" href="~/main/assets/CSS/main.css" />
    <script src="~/main/assets/JS/main.js" defer></script>

    <title>@ViewData["Title"] - Film Project</title>

</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navbar">
                <div class="logo">
                    <a href="/Main/Index">
                    <img class="logo" src="~/main/assets/img/sinesozluk.png" alt="" />
                    </a>
                </div>
                <div class="nav">
                    <ul class="left">
                        <a href="/Main/Index">
                        <li>Anasayfa</li></a>
                        <a href="/Movie/MovieList">
                        <li>Filmler</li></a>
                        <a href="/Blog/BlogList">
                        <li>Bloglar</li></a>
                    </ul>

                    <form asp-controller="Main" asp-action="Search" method="get">
                        <input class="filter" type="text" name="searchTerm" placeholder="Ara" />
                        <button type="submit" style="display: none;">Ara</button>
                    </form>


                    @if (!User.Identity.IsAuthenticated)
                    {
                        <ul>

                            <li>
                                <a href="/Account/Login/">Giriş Yap</a>
                            </li>
                            <li>
                                <a href="/RegisterUser/Index/">Üye Ol</a>
                            </li>

                        </ul>
                    }

                </div>

                @await Component.InvokeAsync("HomePageUsername")

                <ul class="menu">
                    <li class="menu-item">
                        <a href="https://www.github.com/barisgun/movie-backend">
                            <img class="icon"
                                 src="~/main/assets/img/github-mark-white.png"
                                 alt="" />
                        </a>
                        <ul class="drop-menu">
                            <li class="drop-menu-item">
                                @*<a target="_blank" href="https://github.com/barisggun">Barış Gün [Backend]</a>*@
                            </li>
                            <li class="drop-menu-item">
                                @*<a target="_blank" href="https://github.com/isilaycakar">Işılay Çakar [Backend]</a>*@
                            </li>
                            <li class="drop-menu-item">
                                @*<a target="_blank" href="https://github.com/huseyincengizz">Hüseyin Cengiz [Frontend] </a>*@
                            </li>
                            <li class="drop-menu-item">
                               @* <a target="_blank" href="https://github.com/thekadiroglu"> Emirhan Kadiroğlu [Frontend] </a>*@
                            </li>
                        </ul>
                    </li>
                </ul>


            </div>
            <ul>
                <li class="hamburger-icon">
                    <i class="fa-solid fa-bars"></i>
                </li>
            </ul>
        </div>
        <!-- Header Finish-->
        @RenderBody()
    </div>
    <!-- Footer Başlangıç-->
    <div class="footer">
        <div class="logoSmall">
            <img src="assets/img/anaLogo.png" alt="" />
        </div>
        <div class="links">
            <ul>
                SineSözlük
                <li><a href="/Movie/MovieList">SineSözlük Hakkında</a></li>
                <li><a href="/Main/Contact">İletişim</a></li>
                <li><a href="https://www.github.com/barisggun/movie-backend/">Github</a></li>
                <li><a href="/Movie/MovieList">Hata Bildir</a></li>
            </ul>
            <ul>
                Sayfalar
                <li><a href="/Movie/MovieList">Filmler</a></li>
                <li><a href="/Blog/BlogList">Bloglar</a></li>
            </ul>
            <ul>
                Sosyal Medya
                <li><a href="https://www.instagram.com/sinesozlukoffical/"><i class="fa-brands fa-instagram"></i></a></li>
@*                <li><i class="fa-brands fa-facebook"></i></li>
                <li><i class="fa-brands fa-twitter"></i></li>*@
            </ul>
        </div>
    </div>
    <!--Footer Bitiş-->

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <partial name="_Notifications"/>
</body>
</html>
