<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/x-icon" href="~/main/assets/img/icons/favicon.png" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="~/main/assets/CSS/reset.css" />
    <link rel="stylesheet" href="~/main/assets/CSS/main.css" />
    <script src="~/main/assets/JS/main.js" defer></script>
    <title>Film Project</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="navbar">
                <div class="logo">
                    <img class="logo" src="~/main/assets/img/filmatlasi (2) (1).png" alt="" />
                </div>
                <div class="nav">
                    <ul class="left">
                        <li>Anasayfa</li>
                        <li>Filmler</li>
                        <li>Listeler</li>
                    </ul>
                    <input class="filter" type="text" placeholder="Ara" />
                    @if (!User.Identity.IsAuthenticated)
                    {
                        <ul>

                            <li>
                                <a href="/Account/Login/">Giriş Yap</a>
                            </li>
                            <li>
                                <a href="/RegisterUser/Index/">Üye Ol</a>
                            </li>

                        </ul>
                    }
                </div>


                @await Component.InvokeAsync("HomePageUsername")


            </div>
        </div>
        <!-- Header Finish-->
        @RenderBody()


    </div>
</body>
</html>
